body {
	font-size: 16px;
	font-family: "Comic Relief", system-ui;
	padding: 0px;
	margin: 0px;
	background: #7bdee7 url(/images/clouds.png) repeat-x;
}

h1.indent {
	padding-left: 60px;
	position: relative;
}
h1.indent img {
	position: absolute;
	top: -2px;
	left: 0px;
}
a {
	color: #3a7ede;
	text-decoration: none;
}
a:visited {
	color: #a552ce;
}
a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	height: auto;
}

h2 a, h2 a:visited {
	color: #000;
}

#header {
}

#menu {
	margin-top: 32px;
	margin-bottom: 32px;
}
#menu ul li {
  list-style-type: none;
  display: inline-block;
  @media (max-width: 420px) {
  }
}
#menu ul {
	padding: 0;
	text-align: center;
}

#colleft ul, #colright ul{
	padding: 0;
	margin: 0;
}
#colleft ul li, #colright ul li{
	list-style-type: none;
}
.listitem {
	padding: 16px;
	margin: 16px 0;
	border-top: 2px dashed #000;
}
.tile {
	display: inline-block;
	width: calc(32% - 48px);
	margin: 24px;
	margin-bottom: 32px;
	@media (max-width: 800px) {
	       width: calc(48% - 48px);
        }
	@media (max-width: 420px) {
		width: 100%;
	}	
}
.tile p, .smalltile p {
	margin-top: 12px;
}
.tile h2, .smalltile h2 {
	margin-bottom: 12px;
}

.smalltile {
	display: inline-block;
	text-align: center;
	margin-bottom: 32px;
	margin-left: 24px;
	margin-right: 24px;
	@media (max-width: 420px) {
		display: block;
	}
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.right {
	text-align: right;
	margin-left: auto;
}
.handimgleft {
	max-width: 50%;
	margin-right: 24px;
	@media (max-width: 420px) {
		margin-right: 0;
	}
}
.handimgright {
        max-width: 50%;
        margin-left: 24px;
        @media (max-width: 420px) {
                margin-left: 0;
        }
}
.handnav {
	margin: 16px;
	display: inline-block;
	height: 44px;
}

#booknav {
	padding: 16px;
	margin-top: 32px;
	margin-bottom: 32px;
	border-top: 2px dashed #000;
}
.prev {
	float: left;
}
.prev a {
    display: block;
    background-image: url(/images/yellowbuttonleft.png);
    text-indent: -9999px;
    width: 62px;
    height: 26px;
}
.next {
	float: right;
}
.next a {
    display: block;
    background-image: url(/images/yellowbuttonright.png);
    text-indent: -9999px;
    width: 62px;
    height: 26px;
}

a.button {
	color: #000;
	font-weight: bold;
        border: 2px solid black;
        border-radius: 24px;
        padding: 8px 24px;
	display: inline-block;
	margin: 2px 0;
}
a.button:hover {
	text-decoration: none;
	color: #fff;
}
a.coral {
	background-color: #ec8d6f;
}
a.coral:hover {
	background-color: #e87550;
}
a.yellow {
	background-color: #f7e55f;
}
a.yellow:hover {
	background-color: #f4da1e;
}
a.green {
	background-color: #589a56;
}
a.green:hover {
	background-color: #4f8b4d;
}
a.aqua {
	background-color: #82dee6;
}
a.aqua:hover {
	background-color: #46ceda;
}
a.blue {
	background-color: #3a7ede;
}
a.blue:hover {
	background-color: #246fd8;
}
a.darkpurple {
	background-color: #a259cb;
}
a.darkpurple:hover {
	background-color: #9643c4;
}
a.purple {
	background-color: #dcb0ed;
}
a.purple:hover {
	background-color: #cd8ee5;
}
a.grey {
	background-color: #bec6ce;
}	
a.grey:hover {
	background-color: #a7b2bd;
}

#wrapper {
	max-width: 920px;
	margin: 10px auto;
	padding-bottom: 32px;
	padding: 24px;
	border: 2px solid #000;
	border-radius: 24px;
	background-color: white;
	@media (max-width: 920px) {
		padding: 16px;
		border: none;
		border-radius: none;
		width: 100%;
		margin: 0;
	}
}

#footer {
	text-align: center;
	border-top: 2px dashed #000;
	padding: 16px;
}
.grass {
	width: 100%;
        height: 70px;
        background: transparent url(/images/grass.png) repeat-x;
        position: fixed;
        left: 0;
        bottom: 0;
        margin: 0px;
        padding: 0px;
	z-index: -25;
}
